# NetBeans specific
nbproject/          
build/                      
dist/                      
nbbuild/                    
.netbeans_automatic_build    
*.bak                      
*.swp                     
*.log                      
*.class                    
*.jar                     
*.war                       
*.ear                    
.idea/                     

# MacOS
.DS_Store              

# Windows
Thumbs.db    